@using OnlineBuildingGame.Game;
@{
    var dim = ViewData["WorldDim"] as int?;
    var world = ViewData["World"] as GameTile[][];
}

<style>
    .navbar {
        background-color: black;
    }

    .navbar a{
        color: white;
    }
</style>

<header>
    <div class="navbar">
        <a>Chat</a>
        <a>Inventory</a>
        <a>Menu</a>
    </div>
</header>


<body>
    <div>
        <table>
            @for(int i = 0; i < dim; i++)
            {
                <tr>
                @for(int j = 0; j < dim; j++)
                {
                    <td>@world[i][j].name[0]</td>
                }
                </tr>
            }
        </table>
    </div>
</body>

<footer>
    
</footer>
