@using OnlineBuildingGame.Game;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var dim = ViewData["WorldDim"] as int?;
    var world = ViewData["World"] as GameTile[][];
}

<style>
    .navbar {
        background-color: black;
    }

    .navbar a {
        color: white;
    }

    body{
        overflow: hidden;
    }

    table{
        max-block-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    table tr{
        overflow: hidden;
    }

    table td{
        overflow: hidden;
    }

    .tile {
        width: 30px;
        height: 30px;
        border: solid;
        overflow: hidden;
    }
</style>

<header>
    <div class="navbar">
        <a>Chat</a>
        <a>Inventory</a>
        <a>Menu</a>
        <a>
            <input type="range" min="1" max="10" value="3" id="scaleSlider" />
        </a>
    </div>
</header>


<body>
    <div>
        <table>
            @for (int i = 0; i < dim; i++)
            {
                <tr>
                    @for (int j = 0; j < dim; j++)
                    {
                        <td class="tile">@world[i][j].name[0]</td>
                    }
                </tr>
            }
        </table>
    </div>
</body>

<footer>
</footer>

<script>
    var scaleSlider = document.getElementById("scaleSlider");
    let tiles = document.getElementsByClassName("tile");
    scaleSlider.oninput = function () {
        for (i = 0; i < tiles.length; i++) {
            tiles[i].style.width = this.value * 10;
            tiles[i].style.height = this.value * 10;
        }
    }
</script>