@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    List<string> users = ViewData["Users"] as List<string>;
}
<style>
    body {
        background-color: black;
        color: white;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 33%;
    }

    .text {
        color: white;
    }
</style>

<body>
    <div>
        <h1>Welcome to the Online Building Game!</h1>
    </div>
    <h2>Login/Register</h2>
    <div class="flex-container">
        <div>
            <div id="loginPanel">
                <form asp-controller="Pages" method="post">
                    <input name="Name" class="form-control" value="Tim" />
                    <input name="Password" class="form-control" value="a12" />
                    <button id="hostButton" asp-action="Host" type="submit">Host</button>
                    <button id="joinButton" asp-action="Join" type="submit">Join</button>
                </form>
            </div>
        </div>

        <div>
            @foreach (string u in users)
            {
                <h2>@u : a12</h2>
            }
        </div>
    </div>

    <div>
        <canvas id="gamePreview" width="1000" height="1000"></canvas>
    </div>
</body>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/index.js"></script>
